@import '../../styles/global.styles';

// ************* TASK PAGE COMPONENT STYLES ************* //
.taskPage {
  padding: 0 2rem;
  height: 100%;
  overflow: auto;

  // HEADER SECTION
  .header {
    // color: $dark-teal;
    color: $strong-blue;
    font-size: 4.4rem;
    font-weight: 800;
    text-transform: uppercase;

    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }

  // PENDING TODO CONTAINER
  .pendingTodoContainer {

    .sectionTitle {
      color: $black;
      font-size: 2.2rem;
      padding-bottom: 1.5rem;
    }

    .emptyTitle {
      color: $black;
      font-size: 1.8rem;
      font-weight: 500;
      padding-bottom: 1.5rem;
    }
  }

  // COMPLETED TODO CONTAINER
  .completedTodoContainer {
    margin-top: 6rem;

    .sectionTitle {
      color: $black;
      font-size: 2.2rem;
      padding-bottom: 1.5rem;
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .taskPage {

  }
}

@media screen and (min-width: $bp-md) {
  .taskPage {

  }
}

@media screen and (min-width: $bp-lg) {
  .taskPage {

  }
}

@media screen and (min-width: $bp-xl) {
  .taskPage {
    padding: 0 4rem;
  }
}

@media screen and (min-width: $bp-xxl) {
  .taskPage {
  }
}