@import '../../styles/global.styles';

// ************* CALENDAR DATE INFO COMPONENT STYLES ************* //
.calendarDateInfo {

  // HEADER SECTION
  .header {
    display: flex;
    flex-direction: column;
    color: $strong-blue;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    
    .headerDate {
      color: $black;
      font-size: 1.8rem;
    }
  }

  // CALENDAR DATE INFO CONTAINER SECTION
  .calendarDateInfoContainer {
    border-radius: 1rem;
    margin-bottom: 2rem;
    // padding: 1rem 2rem;
    // padding: 1.5rem 2rem;
    padding: 2rem;
    
    // background: $light-blue;
    border: 1px solid $grey;
    box-shadow: 2.5px 2.5px 8px 1px $grey;

    .logClient {
      font-size: 1.8rem;
      font-weight: 700;
      color: $strong-blue;
      text-transform: uppercase;
      // margin-bottom: 1rem;
      margin-bottom: 0.25rem;
    }

    .logType {
      font-weight: 600;
      // margin-bottom: 0.25rem;
    }

    .logText {
      font-size: 1.5rem;
    }
  }

  // LOADING TEXT
  .loadingText {
    color: $black;
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .calendarDateInfo {
    
  }
}

@media screen and (min-width: 800px) {
  .calendarDateInfo {

  }
}

@media screen and (min-width: 1200px) {
  .calendarDateInfo {

  }
}