@import '../../styles/global.styles';

// ************* CALENDAR DATE INFO COMPONENT STYLES ************* //
.calendarDateInfo {

  // HEADER SECTION
  .header {
    display: flex;
    flex-direction: column;
    color: $strong-blue;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    
    .headerDate {
      color: $black;
      font-size: 1.6rem;
    }
  }

  // CALENDAR DATE INFO CONTAINER SECTION
  .calendarDateInfoContainer {
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    
    border: 1px solid $grey;
    box-shadow: 2.5px 2.5px 8px 1px $grey;

    .logClient {
      font-size: 1.6rem;
      font-weight: 700;
      color: $strong-blue;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
    }

    .logType {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .logText {
      font-size: 1.4rem;
    }
  }

  // LOADING TEXT
  .loadingText {
    color: $dark-grey;
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .calendarDateInfo {

    // HEADER SECTION
    .header {
      font-size: 2rem;
      
      .headerDate {
        font-size: 1.8rem;
      }
    }

    // CALENDAR DATE INFO CONTAINER SECTION
    .calendarDateInfoContainer {
      .logClient {
        font-size: 1.8rem;
      }

      .logType {
        font-size: 1.5rem;
      }

      .logText {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: $bp-md) {
  .calendarDateInfo {

  }
}

@media screen and (min-width: $bp-lg) {
  .calendarDateInfo {

  }
}