@import '../../styles/global.styles';

// ************* LOG ALL ITEMS COMPONENT STYLES ************* //
.logAllItems {

  // CLIENT LOGS CONTAINER
  .clientLogsContainer {
    margin-top: 4rem;

    .header {
      color: $strong-blue;
      font-size: 2.4rem;
      font-weight: 800;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    .clientLogItem {
      margin-bottom: 1rem;
      padding: 1rem 0;
      border-bottom: 1px solid $grey;
  
      // HEADER CONTAINER
      .headerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.25rem;
  
        .logType {
          color: $strong-blue;
          font-size: 1.6rem;
          margin-right: 2rem;
        }  
      }
  
      .logText {
        // color: darken($dark-grey, 20%);
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
      }
  
      .logDateText {
        color: $dark-grey;
        font-size: 1.4rem;
        font-style: italic;
        margin-bottom: 0.25rem;
      }

      // BUTTON CONTAINER
      .buttonContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        .editIconContainer {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 3rem;

          .editIcon {
            color: darken($stoplight-yellow, 7.5%);
            font-size: 2rem;
            margin-right: 0.5rem;
          }

          .editText {
            font-size: 1.2rem;
            // color: $dark-grey;
            color: $black;
            text-transform: uppercase;

            &:hover {
              // color: $black;
              color: $dark-grey;
            }
          }
        }

        .deleteIconContainer {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          // margin-right: 3rem;

          .deleteIcon {
            color: $stoplight-red;
            font-size: 2rem;
            margin-right: 0.5rem;
          }

          .deleteText {
            font-size: 1.2rem;
            // color: $dark-grey;
            color: $black;
            text-transform: uppercase;

            &:hover {
              // color: $black;
              color: $dark-grey;
            }
          }
        }
      }

    }
  }
  
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .logAllItems{ 
    
  }
}

@media screen and (min-width: $bp-md) {
  .logAllItems{ 

  }
}

@media screen and (min-width: $bp-lg) {
  .logAllItems{ 

  }
}