@import '../../styles/global.styles';

// ************* DEVELOPER PAGE COMPONENT STYLES ************* //
.developerPage {
  border: 1px solid $black;

  .title {
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
  }

  // COLOR CONTAINER
  .colorContainer {

    .colorTitle {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 2rem;
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .developerPage {
    
  }
}

@media screen and (min-width: 800px) {
  .developerPage {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .developerPage {
    max-width: 2200px;
  }
}