@import '../../styles/global.styles';

// ************* HOME LANDING COMPONENT STYLES (HOME PAGE) ************* //
.homeLanding {
  display: flex;
  flex-direction: row;
  // background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(48, 130, 226, 0.20));
  // background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(48, 130, 226, 0.30));
  background: $light-blue;
  height: 55rem;
  border-radius: 0 0 50% 50%/60px;
  padding-left: 2rem;

  .landingContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

    // TEXT CONTAINER
    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-right: 1rem;

      .title {
        color: $black;
        font-size: 4rem;
        margin-right: auto;
        margin-bottom: 2rem;
      }

      .titleTwo {
        color: $black;
        font-size: 4rem;
        margin-top: -2rem;
        margin-right: auto;
      }

      .subtitle {
        color: $black;
        font-size: 2rem;
        font-weight: 400;
        font-size: 1.3rem;
        text-transform: uppercase;
      }

      .buttonContainer {
        margin-top: 4rem;

        .button {
          cursor: pointer;
          border: none;
          border-radius: 5rem;
          background-color: $strong-blue;
          // background-color: $off-blue;
          color: $white;
          margin: 0 2rem 1rem 0;
          height: 4rem;
          width: 15rem;

          font-family: $tertiary-font;
          font-size: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 1px;

          .link {
            text-decoration: none;
            color: $white;
          }

          &:hover {
            background-color: lighten($strong-blue, 5%);
          }
        }
      }
    }

    // IMAGE CONTAINER
    .imageContainer {
      background-image: url('../../assets/clients-1.svg');
      background-size: cover;
      background-position: center;
      height: 100%;
      margin-top: 1rem;
      // height: 50%;
      // margin-top: auto;
      // margin-bottom: auto;
      width: 80%;
      border-radius: 0 0 50% 0%/60px;
      // box-shadow: -3px 0px 10px -5px rgba(0, 0, 0, .5);
      box-shadow: -3px 2px 10px -5px rgba(0, 0, 0, .5);
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .homeLanding {
    height: 70rem;

    .landingContainer {
      // TEXT CONTAINER
      .textContainer {
        .title {
          font-size: 7rem;
          margin-bottom: 1rem;
        }
  
        .titleTwo {
          font-size: 7rem;
        }
  
        .subtitle {
          font-size: 1.6rem;
          margin-right: auto;
        }
  
        .buttonContainer {
          .button {
            margin: 0 2rem 1rem 0;
            height: 5rem;
            width: 15rem;
          }
        }
      }
      // IMAGE CONTAINER
      .imageContainer {
        width: 55%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .homeLanding {
    .landingContainer {
      // TEXT CONTAINER
      .textContainer {
        .title {
          margin-bottom: 0;
        }
  
        .titleTwo {
          font-size: 7rem;
        }
  
        .subtitle {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .homeLanding {
    padding: 0;

    .landingContainer {
      max-width: 1800px;
      margin-left: auto;
      margin-right: auto;

      // TEXT CONTAINER
      .textContainer {
  
        .title {
          margin-right: auto;
        }
  
        .subtitle {
          margin-right: none;
          text-align: center;
        }
      }

      // IMAGE CONTAINER
      .imageContainer {
        border-radius: 0 0 50% 0%/21px;
      }
    }
  }
}