@import '../../styles/global.styles';

// ************* LOG ITEM COMPONENT STYLES ************* //
.logItem {

  // LOG CONTAINER
  .logContainer {
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $grey;

    // HEADER CONTAINER
    .headerContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.25rem;

      .logType {
        color: $strong-blue;
        font-size: 1.6rem;
        margin-right: 2rem;
      }
    }

    .logText {
      // color: darken($dark-grey, 20%);
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }

    .logDateText {
      color: $dark-grey;
      font-size: 1.4rem;
      font-style: italic;
      margin-bottom: 0.25rem;
    }

    // BUTTON CONTAINER
    .buttonContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .editIconContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 3rem;

        .editIcon {
          color: darken($stoplight-yellow, 7.5%);
          font-size: 2rem;
          margin-right: 0.5rem;
        }

        .editText {
          font-size: 1.2rem;
          color: $dark-grey;
          text-transform: uppercase;

          &:hover {
            color: $black;
          }
        }
      }

      .deleteIconContainer {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        // margin-right: 3rem;

        .deleteIcon {
          color: $stoplight-red;
          font-size: 2rem;
          margin-right: 0.5rem;
        }

        .deleteText {
          font-size: 1.2rem;
          color: $dark-grey;
          text-transform: uppercase;

          &:hover {
            color: $black;
          }
        }
      }
    }

  }

  // ADD LOG CONTAINER
  .addLogContainer {

    .addLogText {
      color: darken($dark-grey, 20%);
      font-size: 1.6rem;
      margin-bottom: 0.25rem;
    }

    .addButtonContainer {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .addIconContainer {
        border: 1px solid darken($jungle-green, 20%);
        border-radius: 2rem;
        background: darken($jungle-green, 20%);
        padding: 0.5rem 1rem;

        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 2rem;

        .addIcon {
          color: $white;
          font-size: 1.8rem;
          margin-right: 0.5rem;
        }

        .addText {
          font-size: 1.3rem;
          color: $white;
        }

        &:hover {
          color: darken($jungle-green, 10%);
        }
      }
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .logItem {
    
  }
}

@media screen and (min-width: 800px) {
  .logItem {

  }
}

@media screen and (min-width: 1200px) {
  .logItem {

  }
}