@import '../../styles/global.styles';

// ************* COMPANY EDIT COMPONENT STYLES ************* //
.companyEdit {
  
  // HEADER SECTION
  .header {
    color: $strong-blue;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  // FORM SECTION
  .form {
    display: flex;
    flex-direction: column;

    .formLabel {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
      color: $black;

      .requiredText {
        color: $dark-grey;
        font-size: 1.3rem;
      }
    }

    .inputContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      border: 1px solid lighten($dark-grey, 10%);
      border-radius: 1rem;

      .inputIcon {
        color: $strong-blue;
        font-size: 1.8rem;
        margin: 0 0.5rem;
      }
    }

    .textArea {
      color: $black;
      padding: 1rem;
      border: 1px solid lighten($dark-grey, 10%);
      border-radius: 1rem;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      height: 10rem;
    }
  }

  // RETURN CONTAINER
  .returnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-left: auto;
    max-width: 16rem;
    cursor: pointer;

    .returnIcon {
      margin-right: 0.5rem;
      font-size: 2rem;
      color: $stoplight-red;
    }

    .returnText {
      color: $stoplight-red;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 400;

      &:hover {
        color: lighten($stoplight-red, 15%);
      }
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .companyEdit {
    
  }
}

@media screen and (min-width: 800px) {
  .companyEdit {

  }
}

@media screen and (min-width: 1200px) {
  .companyEdit {

  }
}