@import '../../styles/global.styles';

// ************* DASHBOARD MENU SECTION COMPONENT STYLES ************* //
.dashboardMenuSection {
  height: 100%;
  display: none;
  
  .navigationInnerContainer {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid $grey;
    border-radius: 1rem;
    height: 95%;
    box-shadow: 2.5px 2.5px 8px 1px $grey;

    .navigationTitle {
      font-family: $primary-font;
      font-size: 2rem;
      color: $strong-blue;
    }

    .navigationMenu {
      padding-top: 2rem;
      padding-left: 2rem;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // MENU CONTAINER
      .menuContainer {
        .iconContainer {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 0;
          margin-bottom: 1rem;
          // border-bottom: 1px solid $grey;
  
          .icon {
            color: $dark-grey;
            font-size: 1.6rem;
            margin-right: 1.5rem;
          }
  
          .iconText {
            color: $dark-grey;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: auto;
          }
        }
  
        // isActive 'id' if menu option is currently active
        #isActiveContainer {
          background: $light-blue;
          box-shadow: 2px 2px 5px lighten($strong-blue, 25%);
          padding-left: 1rem;
  
          #isActiveIcon {
            color: $strong-blue;
          }
  
          #isActiveText {
            color: $strong-blue;
            font-weight: 800;
          }
        }
      }

      // LOGOUT CONTAINER
      .logoutContainer {

        .logoutIconContainer {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 0;
          margin-bottom: 5rem;
  
          .icon {
            color: $strong-blue;
            font-size: 1.6rem;
            margin-right: 1.5rem;
          }
          
          .iconText {
            color: $strong-blue;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            margin-top: auto;
          }
        }
      }
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .dashboardMenuSection {
  
  }
}

@media screen and (min-width: $bp-md) {
  .dashboardMenuSection {
    display: inherit;
  }
}

@media screen and (min-width: $bp-lg) {
  .dashboardMenuSection {

  }
}

@media screen and (min-width: $bp-xl) {
  .dashboardMenuSection {

  }
}

@media screen and (min-width: $bp-xxl) {
  .dashboardMenuSection {

  }
}