@import '../../styles/global.styles';

// ************* BUTTON COMPONENT STYLES ************* //
.button {
  cursor: pointer;

  // ADD BUTTON
  &.addButton {
    width: 15rem;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $strong-blue;
    color: $white;

    &:hover {
      background: lighten($strong-blue, 7.5%);
    }
  }

  // DELETE BUTTON
  &.deleteButton {
    width: 15rem;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $stoplight-red;
    color: $white;

    &:hover {
      background: lighten($stoplight-red, 7.5%);
    }
  }

  // ADD COMPANY
  &.addCompany {
    width: 15rem;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $strong-blue;
    color: $white;

    &:hover {
      background: lighten($strong-blue, 7.5%);
    }
  }

  // DELETE COMPANY
  &.deleteCompany {
    width: auto;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $stoplight-red;
    color: $white;

    &:hover {
      background: lighten($stoplight-red, 10%);
    }
  }

  // CLIENT BUTTON
  &.clientButton {
    width: 15rem;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $strong-blue;
    color: $white;

    &:hover {
      background: lighten($strong-blue, 7.5%);
    }
  }

  // TODO BUTTON
  &.todoButton {
    width: 15rem;
    height: 4rem;
    border: 1px solid $white;
    border-radius: 2rem;

    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;

    background: $dark-teal;
    color: $white;

    &:hover {
      background: lighten($dark-teal, 7.5%);
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .button {
  
  }
}

@media screen and (min-width: 800px) {
  .button {

  }
}

@media screen and (min-width: 1200px) {
  .button {

  }
}