@import '../../styles/global.styles';

// ************* HOME SUMMARY COMPONENT STYLES (HOME PAGE) ************* //
.homeFeatures {
  // border: 1px solid $black;
  height: 55rem;
  padding: 8rem 0;
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .homeFeatures {
    
  }
}

@media screen and (min-width: 800px) {
  .homeFeatures {

  }
}

@media screen and (min-width: 1200px) {
  .homeFeatures {
    // max-width: 1200px;
    margin-top: 4rem;

    // HEADER CONTAINER SECTION
    .headerOuterContainer {
      margin-bottom: 12rem;

      .headerContainer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .header {
          font-size: 3.6rem;
          font-weight: 800;
        }
  
        .subHeader {
          font-size: 2rem;
          font-weight: 500;
          color: $dark-teal;
        }
      }
    }

    // FEATURES CONTAINER SECTION
    .featuresOuterContainer {
      margin-bottom: 12rem;

      .featuresContainer {
        // max-width: 1500px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
  
        .feature {
          border: 1px solid $grey;
          border-radius: 1rem;
          // box-shadow: 2.5px 2.5px 8px 1px $grey;
          // box-shadow: 3.5px 5px 8px -5px $off-blue;
          box-shadow: 2.5px 5px 8px -5px $off-blue;

          width: 30%;
          // height: 25rem;

          // padding: 4rem 2rem;
          padding: 4rem;

          .iconContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            .icon {
              font-size: 3rem;
              // color: $strong-blue;
              color: $dark-teal;
            }
          }
  
          .featureHeader {
            font-size: 2.4rem;
            font-weight: 800;
            text-align: center;
            margin-bottom: 2rem;

            // color: $off-blue;
          }
  
          .featureText {
            color: $dark-grey;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: justify;
          }
        }
      }
    }

  }
}