@import '../../styles/global.styles';

// ************* DASHBOARD LARGE SECTION COMPONENT STYLES ************* //
.dashboardLargeSection {
  // 'dashbboardMenuSection' = width: 20% || 'dashboardSmallSection' = width: 30%
  width: 50%;
  height: 100%;
  // overflow: auto;

  .largeInnerContainer {
    margin: 2rem 2rem 2rem 0.5rem;
    padding: 2rem;
    border: 1px solid $grey;
    border-radius: 1rem;
    height: 95%;
    // box-shadow: 2.5px 2.5px 8px 1px $grey;
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .dashboardLargeSection {
  
  }  
}

@media screen and (min-width: $bp-md) {
  .dashboardLargeSection {
  
  }  
}

@media screen and (min-width: $bp-lg) {
  .dashboardLargeSection {
  
  }  
}

@media screen and (min-width: $bp-xl) {
  // 'dashbboardMenuSection' = width: 15% || 'dashboardSmallSection' = width: 25%
  .dashboardLargeSection {
    width: 60%;
  }  
}

@media screen and (min-width: $bp-xxl) {
  // 'dashbboardMenuSection' = width: 10% || 'dashboardSmallSection' = width: 20% 
  .dashboardLargeSection {
    width: 70%;
  }  
}