@import '../../styles/global.styles';

// ************* SIGN UP PAGE COMPONENT STYLES ************* //
.signupPage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  background-color: $light-blue;
  background-image: url('../../assets/signup-image-1.svg');
  background-size: cover;
  background-position: center;
  height: 100%;

  // FORM CONTAINER SECTION
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 4rem;

    .formHeader {
      color: $dark-teal;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
      margin-bottom: 2rem;
    }

    .form {
      background: $white;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;

      .inputContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        .inputLabel {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 0.5rem;

          .requiredText {
            color: $dark-grey;
            font-size: 1.3rem;
            font-weight: 400;
            margin-left: 0.75rem;
          }
        }
      }

      .termsAndConditionsContainer {
        margin-bottom: 2em;
        
        .termsAndConditionsText {
          color: $dark-grey;
          font-size: 1.3rem;
        }
      }

      .haveAccountText {
        margin-top: 4rem;
        font-size: 1.3rem;
        text-align: right;

        .signinText {
          cursor: pointer;
          color: $strong-blue;
          margin-left: 0.75rem;
        }
      }
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .signupPage {
    background-color: $white;
    background-image: none;
    background-size: none;
    background-position: none;
    height: 0;
  
    // SIGNUP LANDING SECTION
    .signupLandingSection {
      width: 40%;
      background: $light-blue;
      padding: 4rem 0;
  
      .imageContainer {
        background-image: url('../../assets/signup-image-1.svg');
        background-size: cover;
        background-position: center;
        height: 100%;
      }
    }
  
    // FORM CONTAINER SECTION
    .formContainer {
      width: 60%;
  
      .formHeader {
        font-size: 3.6rem;
        margin-bottom: 0;
      }
  
      .form {
        background: none;
        padding: 4rem 0;

        .inputContainer {
          .inputLabel {
            font-size: 1.8rem;
          }
        }

        .haveAccountText {
          margin-top: 2rem;
          font-size: 1.5rem;
        }
      }
    }
  } 
}

@media screen and (min-width: $bp-md) {
  .signupPage {

  }
}

@media screen and (min-width: $bp-lg) {
  .signupPage {
    background-color: $white;
  
    // SIGNUP LANDING SECTION
    .signupLandingSection {
      padding: 16rem 0;
    }
  
    // FORM CONTAINER SECTION
    .formContainer {
      padding: 4rem 12rem;

      .formHeader {
        margin-bottom: 2rem;
        text-align: justify;
      }

      .form {
        padding: 2rem 0;
      }
    }
  }

}

@media screen and (min-width: $bp-xl) {
  .signupPage {

  
    // SIGNUP LANDING SECTION
    .signupLandingSection {

    }
  
    // FORM CONTAINER SECTION
    .formContainer {
      padding: 4rem 20rem;
    }
  }

}

@media screen and (min-width: $bp-xxl) {
  .signupPage {

  
    // SIGNUP LANDING SECTION
    .signupLandingSection {

    }
  
    // FORM CONTAINER SECTION
    .formContainer {
      padding: 4rem 36rem;
    }
  }

}