@import '../../styles/global.styles';

// ************* SIGN UP PAGE COMPONENT STYLES ************* //
.signupPage {

  .form {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .signupPage {

  }
}