@import '../../styles/global.styles';

// ************* CLIENT LIST COMPONENT STYLES ************* //
.clientList {
  height: 95%;
  overflow: auto;

  // HEADER
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .headerTop {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .clientListTitle {
        color: $strong-blue;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }

      .icon {
        cursor: pointer;
        color: darken($jungle-green, 20%);
        font-size: 2.2rem;
        margin-right: 1rem;

        &:hover {
          color: darken($jungle-green, 10%);
        }
      }
    }

    .searchbar {
      height: 3rem;
      width: 100%;
      border-radius: 2rem;
      padding: 0 1rem;
      border: 1px solid darken($grey, 5%);
      font-size: 1.3rem;
      
      &.searchbar::placeholder {
        color: $dark-grey;
      }
    }
  }

  // CLIENT LIST ITEM
  .clientListItem {
    cursor: pointer;
    border-bottom: 1px solid $grey;
    padding: 2rem 2rem;

    .letter {
      margin-bottom: 2rem;
      margin-left: -2rem;
      color: $strong-blue;
    }

    .clientName {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 1rem;

      &:hover {
        color: lighten($strong-blue, 15%);
      }
    }
  }

  // CLIENT LIST ITEM : LAST CHILD
  .clientListItem:last-child {
    border-bottom: none;
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .clientList {
    
  }
}

@media screen and (min-width: $bp-md) {
  .clientList {

  }
}

@media screen and (min-width: $bp-lg) {
  .clientList {

  }
}