@import '../../styles/global.styles';

// ************* RETURN COMPONENT COMPONENT STYLES ************* //
.returnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  max-width: 16rem;
  cursor: pointer;

  .returnIcon {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: $stoplight-red;
  }

  .returnText {
    color: $stoplight-red;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;

    &:hover {
      color: lighten($stoplight-red, 15%);
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .returnContainer {
    
  }
}

@media screen and (min-width: 800px) {
  .returnContainer {

  }
}

@media screen and (min-width: 1200px) {
  .returnContainer {

  }
}