@import '../../styles/global.styles';

// ************* CLIENT PAGE COMPONENT STYLES ************* //
.clientPage {
  padding: 0 2rem;
  height: 100%;
  overflow: auto;

  // CLIENT HEADER SECTION
  .clientHeader {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey;

    .nameContainer {
      .clientName {
        color: $strong-blue;
        font-size: 4.4rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      .jobTitleContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: auto;
        
        .jobTitle {
          color: $black;
          font-size: 2.4rem;
          font-weight: 700;
        }

        .iconContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          .editIcon {
            color: darken($stoplight-yellow, 7.5%);
            font-size: 2rem;
            margin-right: 0.5rem;
          }

          .editText {
            font-size: 1.3rem;
            color: $dark-grey;
            text-transform: uppercase;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }

  // SECTION CONTAINER
  .sectionContainer {
    margin-bottom: 4rem;

    .sectionTitle {
      color: $black;
      font-size: 2.2rem;
      padding-bottom: 1.5rem;

      // padding-top: 1.5rem;
      // margin-bottom: 1rem;
      // background-color: $light-blue;
    }

    .infoContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;

      .icon {
        color: $strong-blue;
        margin-right: 2rem;
        font-size: 2rem;
      }

      .infoText {
        color: darken($dark-grey, 20%);
        font-size: 1.6rem;
      }
    }

    .noteText {
      color: darken($dark-grey, 20%);
      font-size: 1.6rem;
    }

    // TITLE HEADER SECTION
    .titleHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .sectionTitle {
        color: $black;
        font-size: 2.2rem;
        padding-bottom: 1.5rem;
      }

      .viewAllIconContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding-bottom: 1.5rem;
        
        .viewAllIcon {
          color: $strong-blue;
          font-size: 2rem;
          margin-right: 0.5rem;
        }

        .viewAllText {
          font-size: 1.3rem;
          color: $strong-blue;
          text-transform: uppercase;

          &:hover {
            color: lighten($strong-blue, 10%);
          }
        }
      }
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .clientPage {
    
  }
}

@media screen and (min-width: 800px) {
  .clientPage {

  }
}

@media screen and (min-width: 1200px) {
  .clientPage {

  }
}

@media screen and (min-width: 1800px) {
  .clientPage {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 2400px) {
  .clientPage {

  }
}