@import '../../styles/global.styles';

// ************* CALENDAR LOGS COMPONENT STYLES ************* //
.calendarLogs {
  height: 95%;
  overflow: scroll;
  
  // HEADER SECTION
  .headerContainer {
    margin-bottom: 4rem;
    
    .header {
      color: $strong-blue;
      font-size: 2.4rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .calendarLogs {
    padding: 0 2rem;
    // overflow: scroll;

    // HEADER SECTION
    .headerContainer {
      margin-bottom: 4rem;
      
      .header {
        font-size: 3.6rem;
      }
    }
  }
}

@media screen and (min-width: $bp-md) {
  .calendarLogs {
    overflow: scroll;
    
    // HEADER SECTION
    .headerContainer {
      margin-bottom: 4rem;
      
      .header {
        font-size: 4.4rem;
      }
    }
  }
}

@media screen and (min-width: $bp-lg) {
  .calendarLogs {

  }
}

@media screen and (min-width: $bp-xl) {
  .calendarLogs {
    padding: 0 4rem;
  }
}

@media screen and (min-width: $bp-xxl) {
  .calendarLogs {
  }
}