@import '../../styles/global.styles';

// ************* CALENDAR LOGS COMPONENT STYLES ************* //
.calendarLogs {
  height: 95%;
  padding: 0 2rem;
  overflow: scroll;
  
  // HEADER SECTION
  .headerContainer {
    margin-bottom: 4rem;
    
    .header {
      // color: $soft-orange;
      color: $strong-blue;
      font-size: 4.4rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .calendarLogs {
    
  }
}

@media screen and (min-width: $bp-md) {
  .calendarLogs {
    
  }
}

@media screen and (min-width: $bp-lg) {
  .calendarLogs {

  }
}

@media screen and (min-width: $bp-xl) {
  .calendarLogs {
    padding: 0 4rem;
  }
}

@media screen and (min-width: $bp-xxl) {
  .calendarLogs {
  }
}