@import '../../styles/global.styles';

// ************* NAVBAR COMPONENT STYLES ************* //
.navbar {
  // background: $light-blue;
  background: $off-blue;
  
  // INNER NAVBAR CONTAINER
  .innerNavbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding: 2rem 0;
    padding: 2rem;
    
    // LOGO CONTAINER
    .logoContainer {

      .logo {
        // color: $black;
        color: $white;
        font-size: 2.8rem;
        font-weight: 900;
        text-decoration: none;
      }
    }

    // NOT AUTH LINKS
    .notAuthLinks {
      display: flex;
      flex-direction: row;

      .notAuthLink {
        // color: lighten($dark-grey, 10%);
        // color: $black;
        color: $white;
        font-size: 1.7rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-right: 2rem;
        text-decoration: none;

        &:hover {
          // color: $strong-blue;
          color: $dark-teal;
        }
      }
    }

    // AUTH LINKS
    .authLinks {
      display: flex;
      flex-direction: row;

      .authLink {
        // color: lighten($dark-grey, 10%);
        // color: $black;
        color: $white;
        font-size: 1.7rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-right: 2rem;
        text-decoration: none;

        &:hover {
          // color: $strong-blue;
          color: $dark-teal;
        }
      }
    }

    // LOGOUT BUTTON
    .logoutButton {
      cursor: pointer;
      color: $white;
      font-size: 1.7rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-right: 2rem;

      &:hover {
        // color: $strong-blue;
        color: $dark-teal;
      }
    }
  }
}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: 500px) {
  .navbar {
    
    // INNER NAVBAR CONTAINER
    .innerNavbarContainer {
      margin: 0 10rem;
    }
  }
}

@media screen and (min-width: 800px) {
  .navbar {

  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    
    // INNER NAVBAR CONTAINER
    .innerNavbarContainer {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}