@import '../../styles/global.styles';

// ************* TASK CREATE COMPONENT STYLES ************* //
.taskCreate {

  // HEADER SECTION
  .header {

    .title {
      // color: $dark-teal;
      color: $strong-blue;
      font-size: 2rem;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }

  // FORM SECTION
  .form {
    display: flex;
    flex-direction: column;

    .formLabel {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
      color: $black;

      .requiredText {
        color: $dark-grey;
        font-size: 1.4rem;
      }
    }

    .inputContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      border: 1px solid lighten($dark-grey, 10%);
      border-radius: 1rem;

      .inputIcon {
        // color: $dark-teal;
        color: $strong-blue;
        font-size: 1.8rem;
        margin: 0 0.5rem;
      }
    }
  }

}

// ************* MEDIA QUERIES ************* //
@media screen and (min-width: $bp-sm) {
  .taskCreate {
    
  }
}

@media screen and (min-width: $bp-md) {
  .taskCreate {

  }
}

@media screen and (min-width: $bp-lg) {
  .taskCreate {

  }
}